<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <hr>
        <div class="card mt-4">
            <div class="card-header">
                <h3><%= pergunta.titulo %></h3>
            </div>
            <div class="card-body">
                <p><%= pergunta.descricao %></p>
            </div>
        </div>
        <hr>
        <form method="POST" action="/resposta">
            <h3>Responda</h3>
            <label for="corpo">Resposta:</label>
            <textarea name="corpo" id="corpo" placeholder="Digite sua resposta" class="form-control"></textarea>
            <input type="hidden" name="pergunta" id="pergunta" value="<%= pergunta.id %>">
            <button type="submit" class="btn btn-primary mt-3">Responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <% respostas.forEach(resposta => { %>
            <div class="card mb-4">
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                    <small><%= resposta.createdAt %></small>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include('partials/footer.ejs') %>